body {
  margin: 0;
  padding: 0;
}

.header-section {
  height: 55px;
}

.header-section .head-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  height: 55px;
}

.header-section .head-container .head-block {
  width: 100%;
  height: 55px;
}

.header-section .head-container .head-block p {
  margin: 0;
  margin-top: 25px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 30px;
}

.header-section .head-container .head-block p i {
  margin: 0;
  padding: 0 8px;
  color: #ff8800;
  font-size: 15px;
}

.header-section .head-container .head-block h2 {
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 22px;
  margin: 0;
  margin-top: 16px;
}

.header-section .head-container .head-block button {
  float: right;
  margin: 12px 15px 0 0;
  width: 110px;
  height: 32px;
  border: 2px solid #5e5e5f1c;
  color: #ff8902;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  font-family: Arial;
}

.header-section .head-container .head-block button:hover {
  background-color: #ff8902;
  color: white;
}

.menu-section {
  height: 50px;
  background: #f3f3f3;
}

.menu-section .menu-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  height: 50px;
}

.menu-section .menu-container .menu-block {
  height: 50px;
  width: 100%;
}

.menu-section .menu-container .menu-block .list ul {
  padding: 0;
  margin: 0 auto;
  width: 500px;
  height: 10px;
}

.menu-section .menu-container .menu-block .list ul li {
  float: left;
  list-style-type: none;
  /* padding-left: 20px;
                   padding-right: 20px;
                   padding-top: 10px;
                   padding-bottom: 10px; */
  /* padding: 10px 20px 10px 20px; */
  /* padding: top right bottom left;
                   padding: topbottom rightleft; */
  padding: 15px 10px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #666464;
  text-transform: uppercase;
  cursor: pointer;
}

.menu-section .menu-container .menu-block .list ul li:hover {
  color: orange;
}

.slider-section {
  height: 500px;
  background-color: #fb1fde;
}

.slider-section .slider-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 500px;
}

.slider-section .slider-container .image1 {
  background-image: url(./images/01.jpg);
  background-repeat: no-repeat;
  background-position: top;
  opacity: 0.8;
}

.slider-section .slider-container .image2 {
  background-image: url(./images/02.jpg);
  background-repeat: no-repeat;
  background-position: top;
  opacity: 0.8;
}

.slider-section .slider-container .image3 {
  background-image: url(./images/03.jpg);
  background-repeat: no-repeat;
  background-position: top;
  opacity: 0.8;
}

.slider-section .slider-container .image4 {
  background-image: url(./images/04.jpg);
  background-repeat: no-repeat;
  background-position: right;
  opacity: 0.8;
}

.slider-section .slider-container div {
  width: 100%;
  height: 500px;
}

.slider-section .slider-container div h4 {
  margin: 0;
  color: #ffffff;
  text-align: center;
  padding-top: 150px;
  font-size: 20px;
  font-family: 'Alfa Slab One', cursive;
  font-weight: bolder;
  letter-spacing: 1px;
}

.slider-section .slider-container div h4:hover {
  color: #ffffff;
}

.slider-section .slider-container div p {
  color: #ffffff;
  text-align: center;
  width: 80px;
  font-size: 10px;
  padding-top: 10px;
  text-align: center;
  margin: 0 auto;
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  padding-bottom: 8px;
  border-bottom: 2px solid orange;
}

.slider-section .slider-container div:hover {
  opacity: 1.5;
}

.about-section {
  height: 500px;
}

.about-section .about-block {
  width: 800px;
  height: 500px;
  margin: 0 auto;
}

.about-section .about-block .ab-left {
  margin: 0 auto;
  width: 400px;
  height: 500px;
  float: left;
}

.about-section .about-block .ab-left h3 {
  font-size: 40px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bolder;
}

.about-section .about-block .ab-left h4 {
  font-size: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bolder;
}

.about-section .about-block .ab-left p {
  font-size: 12px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: normal;
  text-align: justify;
  color: gray;
}

.about-section .about-block .ab-left h5 {
  font-size: 12px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 300px;
  color: #db6b0f;
}

.about-section .about-block .ab-left h5 span {
  color: #000000;
}

.about-section .about-block .ab-left button {
  width: 140px;
  height: 35px;
  text-align: center;
  font-size: 14px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  border: 2px solid #d68214;
}

.about-section .about-block .ab-right {
  width: 400px;
  height: 500px;
  float: left;
  background-image: url(./images/06.jpg);
  background-repeat: no-repeat;
}

.about-section .about-block .ab-right img {
  margin: 50px 10px 10px 30px;
  opacity: 01;
}

.video-section {
  width: 100%;
  height: 300px;
}

.video-section .video-block {
  background-image: url(./images/07.jpg);
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 300px;
  opacity: 0.7;
  text-align: center;
}

.video-section .video-block button {
  margin-top: 70px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  font-size: 30px;
  color: white;
  background: #edf3f396;
  z-index: 1;
}

.video-section .video-block button:hover {
  background-color: #19f019;
  -webkit-box-shadow: 0 0 10px rebeccapurple;
          box-shadow: 0 0 10px rebeccapurple;
  text-shadow: 0px 0px 10px #ffff64;
}

.video-section .video-block h3 {
  margin: 2px 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 70px;
  letter-spacing: 1px;
  font-weight: bolder;
  color: #ffffff;
  z-index: 1;
}

.video-section .video-block p {
  margin: 0 auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 22px;
  font-weight: bolder;
  color: #e9e9e9;
  z-index: 1;
}

.price-section {
  margin: 0 auto;
  width: 100%;
  height: 500px;
}

.price-section .price-block {
  margin: 0 20%;
  width: 60%;
  height: 450px;
}

.price-section .price-block h3 {
  margin: 0;
  padding: 40px 0;
  width: 100%;
  text-align: center;
  font-size: 55px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: black;
}

.price-section .price-block .price-card {
  margin: 0;
  width: 26%;
  height: 250px;
  float: left;
  border: 4px solid #ececec;
  margin-left: 3%;
  padding: 10px;
}

.price-section .price-block .price-card h4 {
  text-align: center;
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: orange;
  font-weight: bold;
  padding: 20px 0;
}

.price-section .price-block .price-card ul {
  margin: 0;
  padding: 0;
}

.price-section .price-block .price-card ul li {
  text-decoration: none;
  list-style-type: none;
  padding: 10px 0 10px 5px;
  font-weight: bold;
  font-size: 14px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.price-section .price-block .price-card ul li span {
  padding-right: 10px;
  float: right;
}

.price-section .price-block .price-card:hover {
  background-color: #ff9102;
  color: white;
  border: 4px solid #ff9102;
}

.price-section .price-block .price-card:hover h4 {
  color: white;
}

.picks-section {
  height: 360px;
  background: #f0f0f0;
  padding: 50px 0 0 0;
}

.picks-section .picks-container {
  height: 285px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.picks-section .picks-container img {
  width: 100%;
  height: 285px;
}

.picks-section h3 {
  margin: 20px 0 0 0;
  text-align: center;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  color: black;
}

.picks-section h3 span {
  color: #ff9102;
}

.picks-section h3:hover {
  color: #ff9102;
  cursor: pointer;
}

.picks-section h3:hover span {
  color: #f800e3;
}

.profile-section {
  height: 700px;
  padding-top: 50px;
  background-image: url(./12.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.profile-section h1 {
  margin: 25px;
  text-align: center;
  font-size: 70px;
  font-family: 'Roboto', sans-serif;
}

.profile-section .profile-container {
  height: 410px;
  margin: auto;
  width: 1200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 25px;
}

.profile-section .profile-container .profile-box {
  padding: 70px 25px 0 70px;
  background: white;
  height: 330px;
  -webkit-box-shadow: 0 0 12px rgba(128, 126, 126, 0.65);
          box-shadow: 0 0 12px rgba(128, 126, 126, 0.65);
}

.profile-section .profile-container .profile-box .image1 {
  margin: 0;
  height: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
}

.profile-section .profile-container .profile-box .image1 .profile {
  margin: 0;
  border-radius: 90%;
  height: 90px;
  width: 90px;
  background-image: url(./13.jpg);
  background-size: cover;
}

.profile-section .profile-container .profile-box .image1 h2 {
  margin: 10px;
  float: left;
  text-align: left;
  font-size: 26px;
  letter-spacing: 2px;
  font-family: 'Roboto', sans-serif;
}

.profile-section .profile-container .profile-box .image2 {
  margin: 0;
  height: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
}

.profile-section .profile-container .profile-box .image2 .profile {
  margin: 0;
  border-radius: 90%;
  height: 90px;
  width: 90px;
  background-image: url(./14.jpeg);
  background-size: cover;
}

.profile-section .profile-container .profile-box .image2 h2 {
  margin: 10px;
  float: left;
  text-align: left;
  font-size: 26px;
  letter-spacing: 2px;
  font-family: 'Roboto', sans-serif;
}

.profile-section .profile-container .profile-box p {
  margin: 15px 0 10px 0;
  font-size: 14px;
  opacity: 0.3;
  text-align: justify;
  font-family: 'Roboto', sans-serif;
  line-height: 1.7;
}

.profile-section .profile-container .profile-box h6 {
  margin: 30px 60px;
  font-size: 12px;
  font-family: 'Pacifico', cursive;
  font-weight: normal;
}

.profile-section .profile-container .profile-box h6 span {
  font-size: 14px;
  color: #ff9102;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.contact-section {
  height: 600px;
  background: #2a2a2a;
}

.contact-section .contact-container {
  height: 440px;
  margin: auto;
  width: 1230px;
  padding: 80px 0;
  display: -ms-grid;
  display: grid;
  grid-column-gap: 20px;
  -ms-grid-columns: 1fr 1.4fr 2fr;
      grid-template-columns: 1fr 1.4fr 2fr;
}

.contact-section .contact-container .contact-block {
  height: 440px;
  margin: 0 20px;
}

.contact-section .contact-container .contact-block h1 {
  margin: 0 0 10px 0;
  text-align: center;
  font-size: 34px;
  font-weight: bolder;
  color: white;
  font-family: 'Bree Serif', serif;
  letter-spacing: 1.5px;
}

.contact-section .contact-container .contact-block .contact1 {
  height: 100px;
  border-bottom: 1px solid black;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
}

.contact-section .contact-container .contact-block .contact1 .icon i {
  margin: 15px 12px;
  font-size: 35px;
  float: left;
  color: #555353;
}

.contact-section .contact-container .contact-block .contact1 .text {
  margin: 15px 0;
  color: white;
}

.contact-section .contact-container .contact-block .contact1 .text p {
  margin: 4px;
  padding: 0;
  font-size: 14px;
  font-weight: normal;
  font-family: 'Karla', sans-serif;
}

.contact-section .contact-container .contact-block .contact1 .text h6 {
  padding: 0 6px;
  margin: 4px 0;
  font-size: 13px;
}

.contact-section .contact-container .contact-block .contact1 .text:hover {
  color: #ff9102;
}

.contact-section .contact-container .contact-block .contact2 {
  height: 100px;
  border-bottom: 1px solid black;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
}

.contact-section .contact-container .contact-block .contact2 .icon i {
  margin: 15px 12px;
  font-size: 35px;
  float: left;
  color: #555353;
}

.contact-section .contact-container .contact-block .contact2 .text {
  margin: 15px 0;
  color: white;
}

.contact-section .contact-container .contact-block .contact2 .text p {
  margin: 4px;
  padding: 0;
  font-size: 14px;
  font-weight: normal;
  font-family: 'Karla', sans-serif;
}

.contact-section .contact-container .contact-block .contact2 .text p span {
  color: #ff9102;
}

.contact-section .contact-container .contact-block .contact2 .text h6 {
  padding: 0 6px;
  margin: 4px 0;
  font-size: 13px;
}

.contact-section .contact-container .contact-block .contact3 {
  height: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
}

.contact-section .contact-container .contact-block .contact3 .icon i {
  margin: 15px 12px;
  font-size: 35px;
  float: left;
  color: #555353;
}

.contact-section .contact-container .contact-block .contact3 .text {
  margin: 15px 0;
  color: white;
}

.contact-section .contact-container .contact-block .contact3 .text p {
  margin: 4px;
  padding: 0;
  font-size: 14px;
  font-weight: normal;
  font-family: 'Karla', sans-serif;
}

.contact-section .contact-container .contact-block .contact3 .text h6 {
  padding: 0 6px;
  margin: 4px 0;
  font-size: 13px;
}

.contact-section .contact-container .contact-block .contact3 .text:hover {
  color: #ff9102;
}

.contact-section .contact-container .blog-block {
  height: 450px;
}

.contact-section .contact-container .blog-block h1 {
  margin: 0 0 10px 14px;
  font-size: 34px;
  font-weight: bolder;
  color: white;
  font-family: 'Bree Serif', serif;
  letter-spacing: 1.5px;
}

.contact-section .contact-container .blog-block .blog {
  height: 115px;
  display: -ms-grid;
  display: grid;
  color: white;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
}

.contact-section .contact-container .blog-block .blog .photo {
  float: left;
}

.contact-section .contact-container .blog-block .blog .photo img {
  height: 80px;
  width: 80px;
  margin: 15px;
  border-radius: 8px;
}

.contact-section .contact-container .blog-block .blog .text {
  float: left;
}

.contact-section .contact-container .blog-block .blog .text p {
  margin: 15px 15px 2px 5px;
  padding: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.3;
  font-family: 'Karla', sans-serif;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.contact-section .contact-container .blog-block .blog .text p:hover {
  color: #ff9102;
}

.contact-section .contact-container .blog-block .blog .text h6 {
  padding: 0 6px;
  margin: 4px 0;
  font-size: 14px;
  color: #ff9102;
}

.contact-section .contact-container .blog-block .blog .text h6 i {
  margin: 0 4px 0 0;
  color: white;
  font-size: 13px;
}

.contact-section .contact-container .chat-block {
  padding-left: 10px;
  height: 450px;
}

.contact-section .contact-container .chat-block h1 {
  margin: 0 0 18px 0;
  font-size: 34px;
  font-weight: bolder;
  color: white;
  font-family: 'Bree Serif', serif;
  letter-spacing: 1.5px;
}

.contact-section .contact-container .chat-block select {
  background-color: #555353;
  margin: 0 0 15px 0;
  width: 480px;
  height: 50px;
  border: 0;
  color: white;
  outline: none;
}

.contact-section .contact-container .chat-block select option {
  font-size: 16px;
  color: white;
  outline: none;
}

.contact-section .contact-container .chat-block select option:hover {
  color: #ff9102;
}

.contact-section .contact-container .chat-block select:hover {
  cursor: pointer;
  color: #ff9102;
}

.contact-section .contact-container .chat-block div input {
  background-color: #555353;
  margin: 0 0 15px 0;
  width: 430px;
  height: 50px;
  border: 0;
  color: white;
  font-size: 18px;
  outline: none;
  padding: 0 0 0 50px;
}

.contact-section .contact-container .chat-block div input::-webkit-input-placeholder {
  font-size: 18px;
  color: white;
}

.contact-section .contact-container .chat-block div input:-ms-input-placeholder {
  font-size: 18px;
  color: white;
}

.contact-section .contact-container .chat-block div input::-ms-input-placeholder {
  font-size: 18px;
  color: white;
}

.contact-section .contact-container .chat-block div input::placeholder {
  font-size: 18px;
  color: white;
}

.contact-section .contact-container .chat-block div div {
  margin: -50px 0 50px 20px;
}

.contact-section .contact-container .chat-block div div i {
  color: white;
  font-size: 18px;
}

.contact-section .contact-container .chat-block .message textarea[name=text] {
  background-color: #555353;
  margin: 10px 0 20px 0;
  width: 430px;
  height: 130px;
  outline: none;
  color: white;
  padding: 20px 0 0 50px;
  border: 0;
  font-size: 18px;
}

.contact-section .contact-container .chat-block .message textarea::-webkit-input-placeholder {
  font-size: 18px;
  color: white;
}

.contact-section .contact-container .chat-block .message textarea:-ms-input-placeholder {
  font-size: 18px;
  color: white;
}

.contact-section .contact-container .chat-block .message textarea::-ms-input-placeholder {
  font-size: 18px;
  color: white;
}

.contact-section .contact-container .chat-block .message textarea::placeholder {
  font-size: 18px;
  color: white;
}

.contact-section .contact-container .chat-block .message div {
  margin: -153px 0 0 20px;
}

.contact-section .contact-container .chat-block .message div i {
  color: white;
  font-size: 18px;
}

.contact-section .contact-container .chat-block button {
  margin: 150px 0 0 0;
  width: 185px;
  height: 65px;
  border: 2px solid #ff9102;
  font-size: 22px;
  background-color: #ff9102;
  font-family: 'Bree Serif', serif;
  color: white;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  outline: none;
}

.contact-section .contact-container .chat-block button:hover {
  background: #252525;
  color: #ff9102;
  border: 3px solid #ff9102;
  cursor: pointer;
}

.footer-section {
  height: 115px;
  background: #1d1d1d;
}

.footer-section h6 {
  margin: 55px 0 0 100px;
  font-size: 14px;
  float: left;
  color: white;
  font-weight: normal;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer-section i {
  margin: 53px 0 0 15px;
  font-size: 20px;
  float: left;
  color: #555353;
}

.footer-section p {
  margin: 55px 100px 0 0;
  float: right;
  font-size: 14px;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer-section p span {
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */