body {
    margin: 0;
    padding: 0;
}

.header-section {
    height: 60px;
    width: 100%;
    background: rgb(108, 201, 105);
}

.contact-num {
    margin: 0;
    width: 30%;
    float: left;
}

.contact-num p {
    margin: 0;
    margin-top: 2px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 50px;
}

.header-section .header-block {
    width: 40%;
    float: left;
}

.header-block h2 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
    margin: 0;
    margin-top: 16px;
}

.header-book {
    width: 30%;
    float: left;
}

.header-book button {
    float: right;
    margin: 12px 15px 0 0;
    border: 20px;
    width: 110px;
    height: 32px;
    border: 2px solid rgb(155, 153, 153);
    color: rgb(231, 127, 8);
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    font-family: Arial;
}

.header-book .text {}

.menu-section {
    height: 170px;
    background: rgb(185, 185, 82);
}

.slider-section {
    height: 350px;
    background: orchid;
}

.about-section {
    height: 300px;
    background: burlywood;
}

.video-section {
    height: 150px;
    background: lightgreen;
}

.price-section {
    height: 500px;
    background: #228eb3;
}

.footer-section {
    height: 30px;
    background: darkgrey;
}